{ 
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true
    },    
    "sourceType": "module"
  },
  "env": {
    "browser": true,    
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": ["error", 4],
    "space-before-function-paren": ["error", {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "ignore"
    }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "class-methods-use-this": [0],
    "global-require": [0],
    "max-len": [0],
    "no-unused-vars": [2, {"varsIgnorePattern": "^_"}],
    "no-shadow": [0],
    "no-return-assign": [0]    
  }, 
  "extends": "airbnb-base/legacy"
}